.home {
    padding: 16rem 0;
    min-height: 90vh;
    text-align: center;
    font-size: 3rem;
    color: whitesmoke
}

.home p {
    font-size: 4rem;
}

.home a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 1.5rem;
    font-size: 2rem;
}

.home a:hover {
    color: rgb(236, 179, 37);
}