input {
  padding: 1rem 0;
  margin-bottom: 1em;
}

textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

section {
  font-size: 1rem;
  text-align: center;
  padding: 2rem 5rem;
  margin: auto;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
}